<!DOCTYPE html>
<html>

	<head>
		<title>Plan zajęć</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style type="text/css">
			th, td { vertical-align: middle !important; height: 64px; ;text-align: center}				
		</style>
	</head>
	<body>
		<table class='table table-striped table-bordered text-center'>
			<tr>
				<th>Godzina/Dzień</th>
				{% for day in schedule.getDays() %}
					<th style='width: 19%' >{{ day }}</th>
				{% endfor %}
			</tr>

			{% for slot in schedule.getHours() %}
				<tr>
					<th>{{ slot }}</th>
					{% for day in schedule.getDays() %}
						<td>
							{% if schedule.hasEvent(loop.index, loop.parent.loop.index) %}							
								{% set event = schedule.getEvent(loop.index, loop.parent.loop.index) %}
								
								<font color={{event.getColor()}}>								
								<small>{{ event.getKind() }}:</small><br>								
								{{ event.getName() }}<br>
								{{ event.getLecturer() }}<br>
								{{ event.getBuilding() }} 
								{{ event.getRoom() }} 
								{{ event.getDesc() }}
								</font>
								
							{% endif %}
								
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		
	</body>
</html>